knowledge/
data/*
venv/
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# VS Code (если вдруг)
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env
